<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>selected requests</title>
</head>

<body>
    <h1>LIST OF SELECTED STUDENTS</h1>
    <table class="table table-hover">

        <thead>
            <tr>
                <th>NO</th>
                <th>NAME</th>
                <th>MOB</th>
                <th>PURPOSE_OF_ENTRY</th>
                <th>PERSON_TO_BE_MET</th>
                <th>
                    <center>#</center>
                </th>
            </tr>
        </thead>
        <tbody>

            {% for student in selectedStudents %}


            <tr>

                <th scope="row"> {{ student.No }}</th>
                <td>{{ student.Name }}</td>
                <td>{{ student.Mob }}</td>
                <td>{{ student.Purpose_of_entry }}</td>
                <td>{{ student.Person_to_be_met }}</td>
                <td>-</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</body>

</html>