<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>staff view</title>
</head>

<body>
    <h1>REQUESTS ARE LISTED BELOW</h1>


    <table class="table table-hover">

        <thead>
            <tr>
                <th>NO</th>
                <th>NAME</th>
                <th>MOB</th>
                <th>PURPOSE OF ENTRY</th>
                <th>PERSON TO BE MET</th>
                <th>
                    <center>#</center>
                </th>
            </tr>
        </thead>
        <tbody>

            {% for Student in Students %}
            <tr>

                <th scope="row"> {{ Student.No }}</th>
                <td>{{ Student.Name }}</td>
                <td>{{ Student.Mob }}</td>
                <td>{{ Student.Purpose_of_entry }}</td>
                <td>{{ Student.Person_to_be_met }}</td>
                <td>
                    <center>
                        {% if Student.status == "" %}
                        <form action="{% url 'accept_view' %}" method="post">
                            {% csrf_token %}
                            <input type="text" value="accept" name="decision" hidden>
                            <input type="number" value="{{ Student.id }}" name="student_id" hidden>
                            <input type="submit" value="accept">
                        </form>
                        <form action="{% url 'accept_view' %}" method="post">
                            {% csrf_token %}
                            <input type="text" value="reject" name="decision" hidden>
                            <input type="number" value="{{ Student.id }}" name="student_id" hidden>
                            <input type="submit" value="reject">
                        </form>
                        {% else %}
                            Status:
                            {{ Student.status }}
                        {% endif %}
                    </center>
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

</body>

</html>